PORT=3040

JWT_SECRET="<your-jwt-secret>"
JWT_EXPIRES_IN=3600000 # 1 hour

ADMIN_EMAIL="<your-admin-email>"
ADMIN_PASSWORD="<your-admin-password>"

GUEST_EMAIL="<your-guest-email>"
GUEST_PASSWORD="<your-guest-password>"

DROPBOX_ACCESS_TOKEN="<your-dropbox-access-token>" # Access token to a Dropbox account
# Create an app on Dropbox with that link: https://www.dropbox.com/developers/apps